# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/

# =========================
# ENVIRONMENTS
# =========================
.env
.venv/
venv/
env/
*.conda

# =========================
# DATA
# =========================
data/
*.tif
*.tiff
*.jpeg
*.gml
*.geojson
*.zip

# =========================
# NUMPY / DATA FILES
# =========================
*.npy
*.npz

# =========================
# MODELS
# =========================
*.keras
*.pt
*.pth

# =========================
# TRAINING OUTPUTS
# =========================
logs/
checkpoints/
outputs/
runs/

# =========================
# SYSTEM FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/